# Proyecto de Formación, de Programación para Alítica de Datos

## Análisis Profundo sobre Seguridad Alimentaria y Agricola.

### 1.Data set  encontrados sobre la proporción de niños con bajo peso.

In [2]:
import pandas as pd
data_csv=pd.read_csv("proporcion de niños con bajo peso.csv")
data_csv

,Entity,Code,Year,"Prevalence of underweight, weight for age (% of children under 5)"
0,Afghanistan,AFG,1997,44.900002
1,Afghanistan,AFG,2004,32.900002
2,Afghanistan,AFG,2013,24.600000
3,Afghanistan,AFG,2018,19.100000
4,Albania,ALB,1997,7.100000
...,...,...,...,...
1221,Zimbabwe,ZWE,2009,11.700000
1222,Zimbabwe,ZWE,2010,10.200000
1223,Zimbabwe,ZWE,2014,11.200000
1224,Zimbabwe,ZWE,2015,8.500000
1225,Zimbabwe,ZWE,2019,9.700000

### Nombres y Tipos de Datos de Cada Encabezado.

In [9]:
data_csv.dtypes

Entity                                                                object
Code                                                                  object
Year                                                                   int64
Prevalence of underweight, weight for age (% of children under 5)    float64
dtype: object

### Promedios Estadisticos Basicos.

In [10]:
data_csv.describe()

,Year,"Prevalence of underweight, weight for age (% of children under 5)"
count,1226.000000,1226.000000
mean,2005.761011,15.070761
std,8.843352,12.083167
min,1983.000000,0.000000
25%,2000.000000,4.600000
50%,2006.000000,13.166591
75%,2013.000000,22.100000
max,2020.000000,66.800003

### Análisis de los Países Registrados y la Fecha del Reguistro.

In [22]:
data_csv.loc[:,["Entity","Year"]]

           Entity  Year
0     Afghanistan  1997
1     Afghanistan  2004
2     Afghanistan  2013
3     Afghanistan  2018
4         Albania  1997
...           ...   ...
1221     Zimbabwe  2009
1222     Zimbabwe  2010
1223     Zimbabwe  2014
1224     Zimbabwe  2015
1225     Zimbabwe  2019

[1226 rows x 2 columns]

### Cantidad de Niños Menores de 5 Años con Prevalencia en Bajo Peso, por País y Año.("PAISES QUE SE VEN MAS AFECTADOS POR EL HAMBRE")

In [26]:
data_csv.value_counts()

Entity       Code  Year  Prevalence of underweight, weight for age (% of children under 5)
Afghanistan  AFG   1997  44.900002                                                            1
Peru         PER   2005  5.400000                                                             1
Pakistan     PAK   1991  38.400002                                                            1
                   1992  35.299999                                                            1
                   1995  34.200001                                                            1
                                                                                             ..
Guyana       GUY   2014  8.200000                                                             1
Haiti        HTI   1990  23.700001                                                            1
                   1994  23.799999                                                            1
                   2000  13.900000                                                            1
Zimbabwe     ZWE   2019  9.700000                                                             1
Name: count, Length: 974, dtype: int64